@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: rgb(26, 26, 29);
  --color-2: rgb(78, 78, 80);
  --color-3: rgb(111, 34, 50);
  --color-4: rgb(151, 7, 65);
  --color-5: rgb(195, 7, 63);
  --color-6: rgb(243, 243, 243);
  --color-7: rgb(255, 255, 255);
  --color-8: rgb(170, 170, 170);
  --color-9: rgb(52, 52, 52);
  --color-10: rgb(7, 151, 93);
  --color-11: rgb(7, 125, 78);
}
@layer base {
  h1 {
    @apply text-[40px];
    @apply font-bold;
    @apply leading-tight;
  }
  h2 {
    @apply text-[32px];
    @apply font-bold;
    @apply leading-tight;
  }
  h3 {
    @apply text-[24px];
    @apply font-bold;
    @apply leading-tight;
  }
}
