@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Semantic color tokens */
  --foreground: rgb(26, 26, 29);
  --foreground-muted: rgb(78, 78, 80);
  --primary-dark: rgb(111, 34, 50);
  --primary: rgb(151, 7, 65);
  --accent: rgb(195, 7, 63);
  --background: rgb(243, 243, 243);
  --surface: rgb(255, 255, 255);
  --muted: rgb(170, 170, 170);
  --border: rgb(52, 52, 52);
  --success: rgb(7, 151, 93);
  --success-dark: rgb(7, 125, 78);
}
@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .input-field {
    @apply w-full p-3 rounded-lg bg-white border-2 border-accent text-sm
           focus:border-sky-300 focus:ring-1 focus:ring-sky-300 outline-none;
  }
}
